html,body{
  background-image: url(images/back.png);
  height:100%;
}
/*修改按鈕部分*/
.btn{
  -moz-box-shadow:inset 2px 2px 3px 0px #fce2c1;
  -webkit-box-shadow:inset 2px 2px 3px 0px #fce2c1;
  box-shadow:inset 2px 2px 3px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e3a456), color-stop(1, #fab764) );
  background:-moz-linear-gradient( center top, #e3a456 5%, #fab764 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3a456', endColorstr='#fab764');
  background-color:#e3a456;
  -webkit-border-top-left-radius:25px;
  -moz-border-radius-topleft:25px;
  border-top-left-radius:25px;
  -webkit-border-top-right-radius:25px;
  -moz-border-radius-topright:25px;
  border-top-right-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  -moz-border-radius-bottomright:25px;
  border-bottom-right-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  -moz-border-radius-bottomleft:25px;
  border-bottom-left-radius:25px;
  text-indent:-5.989999998807907px;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  /*以上按鈕形狀顏色等*/
  

  /*字型*/
  font-family:微軟正黑體;
  font-size:90%;
  font-weight:bold;
  font-style:normal;
  /*--------------*/

  /*按鈕大小之類*/
  height:10%;
  line-height:100%;
  width:80%;
  text-decoration:none;
  text-align:center;
  text-shadow:2px 3px 6px #cc9f52;
  /*-------*/

  /*上下左右留空量*/
  margin-top:15px;
  margin-bottom:15px;
  margin-right:10%;
  margin-left:10%;
  /*-----------*/
}

.title{
  font-family:微軟正黑體;
  font-size:30px;
  font-weight:bold;
  font-style:normal;
  text-align:center;
  text-shadow:2px 3px 6px #cc9f52;
  margin:10pX;
}

.text{
  display:block;
  font-size: 18px;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

.imp{
  color: green;
  font-family: 微軟正黑體;
  margin-top: 0px;
  font-weight: bold;
}

.Qu{
  display: inline-block;
  position:absolute;
  margin-top: 0px;
}

@-webkit-keyframes Qi
{
  from   {
     opacity:1;
  }
  to  {
    opacity:0;
  }
}

/* Standard syntax */
@keyframes Qi
{
  from   {
     opacity:1;
  }
  to  {
    opacity:0;
  }
}

@-moz-keyframes Qi
{
  from   {
     opacity:1;
  }
  to  {
    opacity:0;
  }
}